.resultcontainer{
    position: relative;
    z-index: 0;
}
/* .postname{
    display: inline-block;
  
} */

.MuiExpansionPanelDetails-root{
    display: flex;
    flex-direction: column;
}

.like{
    cursor: pointer;
}
#delete{
    cursor: pointer;

}
#post{
    cursor: pointer;

}

.resultcontainer{
    margin-bottom: 20px;
}

.MuiExpansionPanelSummary-content{
    display: flex;
    flex-direction: column;
}

.postdate{
    color: gray;
    font-size: 0.80em;
}
.postcategory{
    font-weight: bold;
}
.postlike{
  color: gray;
}

.img {
    width: 300px !important;
    height: 300px !important;
    object-fit: contain;
  }




.bigcont{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contcont{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
}