.landing-page {
display: grid !important;
justify-items: center !important;
align-items: center !important;
width: 100vw;
height: 100vh;

}

.landinginner{
    display: grid !important;
    justify-items: center !important;
    align-items: center!important;
    text-align: center;
}
h1{
    display: grid !important;
    justify-content: center !important;
    align-content: center!important;
}