#container{
    height: 100vh;
    display: grid;
    grid-gap: 3px;
    background-color: rgb(46, 45, 45);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "u u p p i i i i"
    "d d d d i i i i"
    "m m m m i i i i"
    "c c c c a a a a"
    "r r r r r s s s";
}

#user_info{
    grid-area: u;
    background-color: white;
}

#title_problem{
    grid-area: p;
    background-color: white;
}

#photo{
    grid-area: i;
    background-color: white;
}

#description{
    grid-area: d;
    background-color: white;
}

#comments{
    grid-area: m;
    background-color: white;
}

#category{
    grid-area: c;
    background-color: whitesmoke;
}

#address{
    grid-area: a;
    background-color:whitesmoke;
}

#container_response{
    grid-area: r;
    background-color: whitesmoke;
}

#status_post{
    grid-area: s;
    background-color: whitesmoke;
}

